<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="angular-ui-router.TypeScript.DefinitelyTyped" version="0.0.7" targetFramework="win" userInstalled="true" />
  <package id="angularjs.TypeScript.DefinitelyTyped" version="4.0.1" userInstalled="true" />
  <package id="cordova-ionic.TypeScript.DefinitelyTyped" version="0.0.2" userInstalled="true" />
  <package id="cordova.TypeScript.DefinitelyTyped" version="2.3.4" targetFramework="win" userInstalled="true" />
  <package id="jquery.TypeScript.DefinitelyTyped" version="0.0.1" userInstalled="true" />
  <package id="underscore.TypeScript.DefinitelyTyped" version="0.5.6" targetFramework="win" userInstalled="true" />
</packages>